# export files for BOM
*.csv
*.tsv
*.xml

# backup files
*.*-bak
*.bak
*.bck

# Build output
DEBUG
*.o
*.d
*.bin
*.elf
*.map
*.list
src/Debug
src/Debug/**/*
.vscode
.pio
firmware/build

hardware/Minimal/